results/
results_old/
results_new/
BabelNet-5.0/
BabelNet-API-5.3/
__pycache__/
resources/glottolog/
resources/lexibank-analyzed_wordlists
resources/lexibank-analyzed_wordlists/lexibank-anaylzed_wordlist.tsv
.nfs*
